@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;500;700&display=swap');

:root {
    --cinza_cabecalho: #808080;
    --vermelho: rgb(247,140,140);
    --cinza_container: rgba(255, 255, 255, 0.171);
}

* {
    font-family: 'Roboto Mono', monospace;
}


body{
    background: url(../img/fundo-site.jpg) center;
    background-attachment: fixed;
    background-size: contain;
}

/* Links de navegação - Inicio */

.nav-link:hover, .navbar-brand:hover{
    transition: 0.4s;
    transform: scale(1.1);
}

/* Links de navegação - Fim */

/* Banner informátivo - inicio */

.container-banner{
    background: url(../img/fundo-branco.jpg) center no-repeat;
    background-size: cover;
    height: 200px;
    margin-top: 80px;
}

/* Banner informátivo - fim*/

/* Banner sobre mim - inicio */
.banner-sobre{
    background: url(../img/fundo-branco.jpg) center no-repeat;
    background-size: cover;
    margin-top: 90px;
    height: 250px;
}

.arrow-down{
    color: var(--vermelho);
}

.container-sobre-mim, .container-habildiade, .container-projeto{
    background-color: var(--cinza_container);
}

.container-sobre-mim p{
    text-align: justify;
}

.destaque{
    color: var(--vermelho);
}

/* Banner sobre mim - fim */

/* Svg das logos seção habilidades - inicio */
.svg-logo{
    width: 50px;
    fill: white;
}


.js-logo{
    width: 58px;
}

/* Svg das logos seção habilidades - fim */

/* Seçãp da calculadora - inicio */
.calculadora{
    display: grid;
    grid-template-areas: 
    "resultado resultado resultado resultado"
    "btn-limpar btn-limpar btn-divisao btn-multiplicacao"
    "btn-7 btn-8 btn-9 btn-subtracao"
    "btn-4 btn-5 btn-6 btn-soma"
    "btn-1 btn-2 btn-3 btn-igual"
    "btn-0 btn-0 btn-ponto btn-igual";
    height: 350px;
}

.calculadora button{
    font-size: 1.5rem;
    font-weight: bolder;
}

.resultado{
    grid-area: resultado;
    text-align: right;
    padding: 7px;
    font-size: 1.4rem;
}

.btn-limpar{
    grid-area: btn-limpar;
    background-color: var(--vermelho);
}

.btn-divisao{
    grid-area: btn-divisao;
}

.btn-multiplicacao{
    grid-area: btn-multiplicacao;
}

.btn-7{
    grid-area: btn-7;
}

.btn-8{
    grid-area: btn-8;
}

.btn-9{
    grid-area: btn-9;
}

.btn-subtracao{
    grid-area: btn-subtracao;
}

.btn-4{
    grid-area: btn-4;
}

.btn-5{
    grid-area: btn-5;
}

.btn-6{
    grid-area: btn-6;
}

.btn-soma{
    grid-area: btn-soma;
}

.btn-1{
    grid-area: btn-1;
}

.btn-2{
    grid-area: btn-2;
}

.btn-3{
    grid-area: btn-3;
}

.btn-igual{
    grid-area: btn-igual;
    background-color: var(--vermelho);
}

.btn-0{
    grid-area: btn-0;
}

.btn-ponto{
    grid-area: btn-ponto;
}
/* Seção da calculadora - fim */

/* Seção de cores - inicio */
.cores{
    height: 300px;
}

.cores button{
    width: 30%;
}

.botao-rosa:hover{
    background-color: #ffcbdb;
    color: white;
}

.botao-azul:hover{
    background-color: blue;
    color: white;
}

.botao-verde:hover{
    background-color: green;
    color: white;
}

/* Seção de cores - fim */

/* Footer - inicio */ 
footer{
    background-color: var(--cinza_container);
}

/* Footer - fim */

/* Mudança de idioma - inicio */

.linguagem{
    position: fixed;
    top: 0vh;
    left: 1vw;
    width: 130px;
    z-index: 999999;
}

.linguagem button{
    border-radius: 5px;
    padding: 7px;
    font-size: 0.6rem;
    margin-top: 10px;
}

.linguagem button:hover{
    background-color: var(--vermelho);
    color: white;
    transition: 500ms;
    transform: scale(0.9);
}

/* Mudança de idioma - fim */

/* Mudança de classe - inicio */
.classe2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
}
/* Mudança de classe - fim */


/* Media quey - inicio */
@media only screen and (max-width: 442px){
    .container-banner p{
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 504px){
    .linguagem{
        display: none;
    }
}
/* Media quey - fim */
